body{
	background-color: #f5f5f5;
	padding: 0px;
	
}

#userFormArea{
padding-top: 2%;
padding-right: 17%;
padding-left: 15%;
color: White;
background-color: #3B5998;	
border-bottom: solid;
border-bottom-color: #003399;
}
#register{
	padding-top: 1%;
padding-right: 17%;
padding-left: 15%;
color: black;
}
#messageArea{
	display: none;
	padding-top: 60px;
	padding-left: 10%;
	padding-right: 10%;
}
#logout{
	display:none;
	float: right;
	padding-top: 10px;
	padding-right :10%;
	
}